@import url('reset.css');

/*------------*/

.container{
	margin: 10px;
	clear: both;
}

.left-block {
	display: none;
	position: relative;
	background: #FFFFFF;
	float: left;
	min-height: 450px;
	width: 39%;
	border: 1px solid #000;
}

.main-block {
	float:right;
	width: 100%;
	border: 1px solid #000;
	position: relative;
}

#close-left {
  	display: block;
  	background: #FFFFFF;
  	padding: 7px;
  	border-radius: 3px;
  	border: 1px solid #000;
  	position: absolute;
  	right: 5px;
  	top: 47px;
}

.content-form div:nth-of-type(1) input, 
.content-form div:nth-of-type(2) input {
	float:left;
	margin-left: 15px;
}

#index-value {

	width: 100px;
}

.content-form div:nth-of-type(1) label, 
.content-form div:nth-of-type(2) label {
	float: left;
	width: 40px;
	padding-bottom: 20px;
}

.content-form div {
	clear: both;
}

.content-form {
	padding: 0 20px;
}

.content-form h3 {
	padding: 20px 0;
  	font-size: 22px;
}

.content-form div:nth-of-type(3) label {

	display: block;
	padding-bottom: 15px;

	}

#content-value {
	width: 100%;
	height: 200px;
	padding: 0;
	resize: none;
}	

.addbtn {
	padding: 5px 40px;
	margin-top: 10px;
	float: right;
	border-radius: 3px;
	box-shadow: none !important;
	border: 1px solid #000;
	background: #FFFFFF;
}

.addbtn:hover, #close-left:hover, #mainbtn:hover {
	background: #626060;
	color: white;
}

#close-left:hover {
	text-decoration: none;
}

.tbs ul {
	padding: 0;
	margin: 0;
}

.tbs ul li {
	display: inline-block;
 	border: 1px solid;
 	border-bottom: none;
}

.tbs ul li:hover {
	background: #626060; 
}

.tbs li a {
	display: block;
  	padding: 8px 10px;
  	text-decoration: none;
}
.tbs li a:hover {
	color: white;
}

.tbs {
	margin: 22px 25px;
}

#tab-content {
	border: 1px solid #000;
}


#mainbtn {
  	display: inline-block;
  	padding: 6px 52px;
  	text-decoration: none;
  	border: 1px solid #000;
  	border-radius: 2px;
  	margin: 15px 0 0 24px;
}